@{

    var sUsr = Context.Session.GetString("KullaniciID");

}
@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert-danger"> @TempData["uyari"] </div>

<div> Session datası: @sUsr </div>


<h4>anasayfadasınız</h4>