@model berber.Models.Kullanici

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title> Giriş </title>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
    <link rel="stylesheet" href="./css/login.css?v=2.0" />

</head>



<body>
    <div class="alert-danger"> @TempData["uyari"] </div>

    <div class="box">

        <div class="border-line"></div>

        <form asp-controller="Login" asp-action="Giris">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="input-box ">
                <label asp-for="AdSoyad" class="control-label"></label>
                <input asp-for="AdSoyad" class="form-control" autocomplete="off" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>

            </div>

            <div class="input-box">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" type="password" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>

            </div>

            <div class="button-box">
                <input type="submit" value="Giriş Yap" class="btn" />
            </div>

            <div class="register">
                <span>  <a asp-controller="Register" asp-action="Kayit">Hesabın yok mu?</a> </span>
            </div>

        </form>



    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
