@model berber.Models.Calisan
@{
    ViewData["Title"] = "CalisanGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<form asp-action="CalisanGuncelle" method="post">
    <input type="hidden" asp-for="CalisanID" />
    <div>
        <label>İşlem Adı</label>
        <input asp-for="AdSoyad" />
    </div>
    <div>
        <label>Ücret</label>
        <input asp-for="UzmanlikAlanlari" />
    </div>
    <div>
        <label>Süre</label>
        <input asp-for="UygunlukSaatleri" />
    </div>
    <button type="submit">Güncelle</button>
</form>


